body {background: rgb(0, 0, 0); margin: 32px; color: #fff; background-image: url(img/bg_bottom.png); background-repeat: no-repeat; background-position: center bottom;}
.container {text-align: center; margin-top: 64px; padding-bottom: 520px; }
